.container{
    display:flex;
    background-color: lightgrey;
}

.grid {
    width: 200px;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
    background-color:lightcoral;
}

.grid div{
    height: 20px;
    width: 20px;

    
}

.tetromino{
    background-color:  green;

}
.mini-grid{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    background-color: purple;
    display:flex;
    flex-wrap: wrap;
   

}
.mini-grid div{
    width: 20px;
    height: 20px;
    

}